# docker-compose.yml
# JediSOS 프로덕션 서비스
# 사용법: docker compose up -d
#
# [JS-X002] docker-compose.yml
# version: 3.0.0
# created: 2026-02-18
# modified: 2026-02-19

services:
  # JediSOS 메인 앱 (API + Web UI + zvecsearch + SecVault)
  jedisos:
    image: ghcr.io/jedikim/jedisos:${JEDISOS_VERSION:-latest}
    build:
      context: .
      dockerfile: docker/Dockerfile
    restart: unless-stopped
    environment:
      JEDISOS_DATA_DIR: /data
      MEMORY_DATA_DIR: /data
      MEMORY_EMBEDDING_PROVIDER: default
    env_file:
      - path: .env
        required: false
    ports:
      - "${JEDISOS_PORT:-8866}:8866"
    volumes:
      - ./config:/config
      - jedisos_data:/data

volumes:
  jedisos_data:
